.App {
  text-align: center;
}

h1 {
  color: dodgerblue;
  font-weight: 500;
}

h2 {
  font-weight: 400;
  text-align: center;
}

div.logreg-forms{
  text-align:left;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  
}

div.register-form {
  border: 2px solid black;
  padding: 0px 30px 30px 30px;
}

div.login-form {
  border: 2px solid black;
  padding: 0px 30px 30px 30px;
}

button {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 2px 2px 3px;
  margin: 7px 3px;
}

header{
  display:flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  margin: 30px;
  width:90%;
}

table{
  width:90%;
  border: 2px solid black;
  margin: 30px;
  padding: 10px 0px 10px 10px;
  text-align: left;
}

td.action{
  display:flex;
  justify-content:space-around;
}

div.details{
  border: 2px solid black;
  width:86%;
  margin:30px;
  text-align: left;
  padding: 20px;
}

div.top-row{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

form.create{
  text-align:left;
  border: 2px solid black;
  width: 90%;
  margin:30px;
  justify-content: space-evenly;
  padding: 40px;
}

input.create{
  display:flex;
}

select.create{
  display: flex;
}

input.login{
  display: flex;
}
input.register{
  display: flex;
}